.showBooks{
    background-color:#ccb8e6
}
.booksForm{
  background-color: #add8e6;
}
.formularioEdit{
  background-color:#A7DBE3 
}
.formularioEditG{
  background-color:#97d992 
}
.formularioConfirm{
  background-color:#f3926f
}
.formularioConfirmG{
  background-color:#f3d46f
}

.show{
  background-color:#f5e191
}
